<p id="notice" class="text-center"><%= notice %></p>
<div class="row">
  <div class="col-md-6 center text-center">
    <div id="questioninfo">
      <p>
        <strong>Lat:</strong>
        <%= @question.lat %>
      </p>

      <p>
        <strong>Long:</strong>
        <%= @question.long %>
      </p>

      <p>
        <strong>Difficulty:</strong>
        <%= @question.difficulty %>
      </p>

      <p>
        <strong>Attempts:</strong>
        <%= @question.attempts %>
      </p>

      <p>
        <strong>Correct:</strong>
        <%= @question.correct %>
      </p>
    </div>
  </div>
  <div class="col-md-6 center text-center">
    <%= image_tag(@question.image_url, :width => 750, :height => 1000, :crop => :fill) %>
  </div>
</div>
<div class="row text-center shownav">
  <%= link_to 'Edit', edit_question_path(@question), :class => "btn" %>
  <%= link_to 'Back', questions_path, :class => "btn"%>
</div>