<div class="modal-header text-center">
  <h1>Congratulations!</h1>
</div>
<div class="modal-body">
  <p class="text-center">
    <strong>Final:</strong>
    <%= @game.score %> ft off
  </p>
  <div id="testhide" class="text-center">
    <p> Congratulations, you made it to the high scores! What is your name?</p>
    <%= form_for(@game) do |f| %>
      <div class="field">
        <%= f.text_field :name %>
      </div>
      <div class="actions">
        <%= f.submit "Submit"%>
      </div>
    <% end%>
  </div>
</div>
<div class="modal-footer">
  <%= link_to 'Highscores', highscores_path, :class => "btn" %>
  <%= link_to 'New Game', new_game_path, :class => "btn" %>
  <%= link_to 'Home', home_path, :class => "btn" %>
</div>
