<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @game.user %>
</p>

<p>
  <strong>Score:</strong>
  <%= @game.score %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @game.progress %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @game.completed %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
