<% title("Home Page") %>
<body <%= "data-params-id=#{params[:id]}" if params.has_key?(:id) %> >
    <div class="container-fluid .fill">
        <!-- <div class="row text-center title">
            <h1><span id="cal">Cal</span><span id="guessr">Guessr</span></h1>
        </div> -->
        <div class="row wholegame">
            <div class="col-md-8 image">
                <!-- <p id="notice"><%= notice %></p> -->
                <div id="question-show"></div>
                <p id="test">Image URL will go here.</p>
                <p id="answers">Image coordinates will go here.</p>
                <div id="gameinfo">
                  <%= render 'gameinfo' %>
                </div>
                <div class="row text-center shownav">
                  <%= link_to 'Next Question', games_next_question_path(:id => @game.id), method: :patch, remote: 'true', :class => "btn" %>
                  <%= link_to 'Prev Question', games_prev_question_path(:id => @game.id), method: :patch, remote: 'true', :class => "btn" %>
                  <%= link_to 'Edit', edit_game_path(@game), :class => "btn" %>
                  <%= link_to 'Back', games_path, :class => "btn"%>
                </div>
            </div>
            <div class="col-md-4 rightside">
                <div class="stats container bordered">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row scorebox">
                                <h2 id="score">Score: ---</h2>
                                <h2 id="avgscore">Average Score: ---</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="map-container" class="bordered">
                    <div id="map-canvas"></div>
                </div>
                <div id="cheats">
                    <p>Tired of losing? Navigate to <a href="http://tedxiao.me/hacks.html">hacks</a> to see locations of all images I've taken so far!</p>
                </div>
            </div>
        </div>
    </div>
</body>
